<div class="container-fluid total">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-10">
      <div class="card">
        <div class="card-body">
          <h2 class="title">New comment</h2>
          <%= form_with(model: comment, url: request_comments_path(@request), local: true) do |form| %>
          <% if comment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

              <ul>
              <% comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :content %>
            <%= form.text_area :content %>
          </div>

          <div class="actions">
            <%= form.submit "Create", class:"btn btn-primary" %>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>