<div class="card">
  <div class="card-body">

    <p>      
      <h2>
        <%= request.title %>
      </h2>
    </p>

    <p>
      <%= raw(request.content) %>
      
      <strong>Created by:</strong>
      <%= request.user.show_name %>
    </p>

    <hr>

    <p>

      <strong>Score:</strong>
      <%= request.score %>
      <strong>Votes:</strong>
      <%= request.popularity %>

      <%= link_to 'Voteup', request_voteup_url(request) %> |
      <%= link_to 'Votedown', request_votedown_url(request) %> 
    </p>

  </div>
</div>