<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="score-container">

        <div class="vote" id="voteup">
          <%= link_to '+', request_voteup_url(request) %>    
        </div>

        <div class="vote" id="votedown">
          <%= link_to '-', request_votedown_url(request) %>
        </div>
        
        <h3>
          <%= request.score %> / <%= request.popularity %>
        </h3>
      </div>
  
      <h2>
        <%= request.title %>
      </h2>
    </div>

    <hr>
    <p>
      <%= raw(request.content) %>
    </p>
    <hr>
    <p>
      <strong>Created by:</strong>
      <%= request.user.show_name %>

      <strong>Score:</strong>
      <%= request.score %>
      <strong>Votes:</strong>
      <%= request.popularity %>

      <%= link_to 'Voteup', request_voteup_url(request) %> |
      <%= link_to 'Votedown', request_votedown_url(request) %> 
    </p>

  </div>
</div>