<h1 class="title">Requests#index</h1>

<a href="#addExpense" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">    
  <div>
    <h2>Add new request</h2>
  </div>
</a>
<ul class="collapse list-unstyled" id="addExpense">
  <%= render 'form', request: @request %>
</ul>

<table class="table">
  <!-- nice looking Ordering table -->
  <thead>
    <tr>
      <th>Order by:</th>
      <th><%= sortable "title", "Request title" %></th>
      <th><%= sortable "score", "Score"%></th>
      <th><%= sortable "popularity", "Popularity"%></th>
    </tr>
  </thead>

</table>

<div class="container-fluid total">
  <div class="row justify-content-center">
    <% @requests2.each do |request| %>
      <div class="col-xs-12 col-md-10"><!-- if u want 2 requests cols change here-->
        <div class="card">
          <div class="card-body">   
            <h3>
              <%= link_to request.title, request %>
            </h3>
            <hr>
            <p>
              <strong>Votes:</strong>
              <%= request.popularity %>
              <%= link_to 'Voteup', request_voteup_url(request) %> |
              <%= link_to 'Votedown', request_votedown_url(request) %> 
              <strong>Score:</strong>
              <%= request.score %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>tinymce.init({ selector:'textarea' });</script>

