<h1>Requests#index</h1>
<p>Find me in app/views/requests/index.html.erb</p>

<%= render 'form', request: @request %>

<script src="https://cdn.jsdelivr.net/npm/tablefilter@0.6.75/src/tablefilter.js"></script>

<table id="table1" cellspacing="0" class="table mytable filterable">
  <thead>
    <tr>
      <th><%= sortable "title", "Request title" %></th>
      <th><%= sortable "score", "Score"%></th>
      <th><%= "#comments"%></th>
      <th colspan="2">
    </tr>
  </thead>

  <tbody>
    <% @requests2.each do |request| %>
      <tr>
        <td><%= link_to request.title, request %></td>
        <td><%= request.score %></td>
        <td><%= request.comments.count %></td>
        <td><%= link_to 'Voteup', request_voteup_url(request) %></td>
        <td><%= link_to 'Votedown', request_votedown_url(request) %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<script language="javascript" type="text/javascript">  
    var tf01 = new TF('table1');  
    tf01.AddGrid();  
</script>   
